@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Semibold";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

input[type=submit],
button {
  cursor: pointer;
}


textarea {
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  margin: 0;

}

.second-screen-overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(#B6FBFF), color-stop(18.25%, #96C4E4), to(#83A4D4));
  background: -o-linear-gradient(top, #B6FBFF 0%, #96C4E4 18.25%, #83A4D4 100%);
  background: linear-gradient(180deg, #B6FBFF 0%, #96C4E4 18.25%, #83A4D4 100%);
}

input::-webkit-input-placeholder {
  color: #FFF;
}

input:-ms-input-placeholder {
  color: #FFF;
}

input::-ms-input-placeholder {
  color: #FFF;
}

input::-moz-placeholder {
  color: #FFF;
}

input::placeholder {
  color: #FFF;
}

textarea::-webkit-input-placeholder {
  color: #FFF;
}

textarea:-moz-placeholder {
  color: #FFF;
  opacity: 1;
}

textarea::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: #FFF;
}

textarea::-ms-input-placeholder {
  color: #FFF;
}

textarea:focus-visible,
input:focus-visible {
  outline-color: inherit;
}


.first-screen-overlay {
  background: -o-linear-gradient(35.27deg, #6363BB -4.33%, #3E69B7 47.39%, #5AA8AD 90.71%);
  background: linear-gradient(54.73deg, #6363BB -4.33%, #3E69B7 47.39%, #5AA8AD 90.71%);
  opacity: 0.8;
}

.second-screen-overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(#B6FBFF), color-stop(18.25%, #96C4E4), to(#83A4D4));
  background: -o-linear-gradient(top, #B6FBFF 0%, #96C4E4 18.25%, #83A4D4 100%);
  background: linear-gradient(180deg, #B6FBFF 0%, #96C4E4 18.25%, #83A4D4 100%);
}



.hands {

  position: absolute;
  width: 115px;
  height: 150px;
}

.hands::after {
  display: block;
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  height: 218px;
  width: 153px;
  z-index: -2;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#B6FBFF), to(#83A4D4));
  background: -o-linear-gradient(top, #B6FBFF 0%, #83A4D4 100%);
  background: linear-gradient(180deg, #B6FBFF 0%, #83A4D4 100%);
}

.hands__image {
  position: absolute;
  top: 68px;
  left: -17px;

  -webkit-filter: drop-shadow(0px 0px 50px rgba(54, 69, 120, 0.3));
  filter: drop-shadow(0px 0px 50px rgba(54, 69, 120, 0.3));

  max-width: 139px;
  max-height: 150px;
  z-index: -1;
}

.container {
  padding: 7px 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo img {
  height: 49px;
  width: 49px;
  margin-right: 2px;
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}

.header__cart .counter {
  height: 28px;
  width: 28px;
  background-color: #E01C86;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
}

.header__burger {
  position: relative;
  width: 40px;
  height: 25px;
  display: block;
}

.header__burger span {
  top: 11px;
}

.header__burger:after,
.header__burger:before {
  content: "";
}

.header__burger:after {
  bottom: 2px;
}

.header__burger:before {
  top: 2px;
}

.header__burger span,
.header__burger:after,
.header__burger:before {
  height: 3px;
  width: 100%;
  position: absolute;
  background: #A0FEB5;
  margin: 0 auto;
}

.header__menu,
.header .burger__nav {
  display: none;
}

.logo-text {
  color: #5D7647;
  font-family: "Gilroy Regular";
  font-weight: 400;
  font-size: 8px;
  max-width: 88px;
}

.right-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.hero {
  color: #FFFFFF;
  margin-top: 78px;
  position: relative;
}

.hero__ring {
  position: absolute;
  z-index: -1;
  max-width: 100px;
  height: 200px;
  top: 240px;
  right: -10px;
}

.hero__line {
  display: none;
}

.hero__title {
  display: block;
  font-family: "Gilroy Semibold";
  font-size: 22px;
  max-width: 240px;
  margin-left: 100px;
  line-height: 1;
  font-weight: 600;
}

.hero__subtitle {
  line-height: 1.3;
  margin-bottom: 6px;
  margin-top: 25px;
  display: block;
  font-family: "Gilroy Regular";
  font-size: 16px;
  font-weight: 400;
}



.hero__list {
  line-height: 1.5;
  margin-bottom: 22px;
  max-width: 320px;
}

.hero__item {
  font-family: "Gilroy Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}

.hero__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  max-width: 340px;
}

.hero__btn-link {
  align-self: center;
  display: flex;
  gap: 10px;
}



.hero__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gilroy Regular";
  font-size: 18px;
  color: #A0FEB5;
  line-height: 1.5;


}

.hero__more-arrow {
  background-image: url(../img/RightArrow.svg);
  height: 43px;
  width: 43px;

}

.btn-modal {
  background: #44C360;
  -webkit-box-shadow: 0px 0px 30px rgba(94, 117, 71, 0.5);
  box-shadow: 0px 0px 30px rgba(94, 117, 71, 0.5);
  border-radius: 50px;
  border: none;
  max-width: 340px;
  width: 100%;
  height: 68px;
  color: #FFFFFF;
  font-family: "Gilroy Bold";
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;

  padding: 0 32px;
}

.about {
  padding: 90px 0 80px;
  color: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;

}

.about__upper-text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about__ring {
  position: absolute;
  z-index: -1;
  max-width: 244px;
  height: 114px;
  right: 0;
  bottom: 0;
}

.about__title {
  display: block;
  font-family: "Gilroy Semibold";
  font-size: 26px;
  line-height: 1.1;

}

.about__subtitle {
  display: block;
  font-family: "Gilroy Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 22px;

}

.about__image-upper {

  height: 170px;
}

.about__image-upper img,
.about__image-upper source {

  -webkit-filter: drop-shadow(0px 0px 30px rgba(54, 69, 120, 0.3));
  filter: drop-shadow(0px 0px 30px rgba(54, 69, 120, 0.3));
  width: 260px;
  height: 150px;
  position: absolute;
  bottom: 55%;
  right: -10px;
}

.about__description {
  font-family: "Gilroy Regular";
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.about__image-lower {
  position: relative;
  margin-top: 35px;
  margin-bottom: 71px;
  height: 95px;
}

.about__lower {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 297px;
  width: 100%;
  height: 95px;
  background: -webkit-gradient(linear, left top, left bottom, from(#C0FBFF), to(#C0FBFF));
  background: -o-linear-gradient(top, #C0FBFF 0%, #C0FBFF 100%);
  background: linear-gradient(180deg, #C0FBFF 0%, #C0FBFF 100%);
  -webkit-box-shadow: 0px 0px 30px rgba(54, 69, 120, 0.3);
  box-shadow: 0px 0px 30px rgba(54, 69, 120, 0.3);
  border-radius: 0 50px 50px 0;
  bottom: -30px;
  left: -10px;
  padding-left: 10px;
}

.about__lower-text {
  font-family: "Gilroy Medium";
  font-size: 18px;
  line-height: 1.5;
  color: #364578;
  max-width: 250px;
}

.how-it-work {
  padding: 65px 0 90px;

}

.how-it-work__title {
  display: block;
  text-align: center;
  font-family: "Gilroy Semibold";
  font-size: 26px;
  line-height: 1.1;
  color: #364578;
  margin-bottom: 10px;
}

.how-it-work__subtitle {
  display: block;
  text-align: center;
  font-family: "Gilroy Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #364578;
  max-width: 390px;
  margin: 0 auto 22px;
}

.how-it-work__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 90px;
}

.how-it-work__item {
  display: flex;
  flex-wrap: wrap;
}

.item__box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 42px;
}

.how-it-work__item img {
  border-radius: 5px;
  opacity: 100%;
  max-width: 330px;
  max-height: 305px;
}

.how-it-work__item p {
  display: block;
  font-family: "Gilroy Regular";
  font-size: 18px;
  line-height: 1.5;
  color: #364578;
  max-width: 390px;
}

.item-title {
  display: block;
  font-family: "Gilroy Bold";
  font-size: 22px;
  line-height: 1.5;
  color: #364578;
  margin-bottom: 22px;
}



.item-price {
  display: block;
  font-family: "Gilroy Bold";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  color: #E01C86;
  margin: 40px 0 22px;
}

.item-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  max-width: 340px;
}

.item-btn-group .hero__btn-link {
  align-self: flex-start;
  display: flex;
  gap: 10px;
}

.buy {
  display: block;
  background: #44C360;
  -webkit-box-shadow: 0px 0px 30px rgba(94, 117, 71, 0.5);
  box-shadow: 0px 0px 30px rgba(94, 117, 71, 0.5);
  border-radius: 50px;
  border: none;
  max-width: 194px;
  width: 100%;
  height: 54px;
  color: #FFFFFF;
  font-family: "Gilroy Bold";
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;

  padding: 0 35px;
}


.buyers {
  color: #FFFFFF;
  padding-top: 105px;
}

.buyers__ring {
  display: none;
}

.buyers__title {
  display: block;
  text-align: center;
  font-family: "Gilroy Semibold";
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 35px;
}

.buyers__info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 28px;
  column-gap: 35px;
  justify-content: center;
}

.buyers__list ul {
  flex-direction: column;
  display: flex;
  gap: 13px;
}

.buyers__image {
  display: none;
}

.buyers__box-img {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  padding: 2.5px;
}


.buyers__text {
  display: block;
  font-family: "Gilroy Regular";
  font-size: 18px;
  line-height: 1.3;

  font-weight: 400;
  max-width: 268px;
  margin-left: 24px;
}

.buyers__line {
  margin-top: -5px;
}

.advantages {
  color: #FFFFFF;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages__title {
  display: block;
  margin-bottom: 26px;
  font-family: "Gilroy Semibold";
  font-size: 26px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 42px;
  margin-bottom: 25px;
}

.advantages__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 260px;
  height: 260px;
  font-family: "Gilroy Medium";
  font-size: 18px;
  line-height: 1.3;
}

.advantages__item img {
  position: absolute;
  top: 0;
  left: 0;
}

.advantages__text {
  display: block;
}

.feedback {
  padding-top: 100px;
}

.feedback__title {
  display: block;
  font-family: "Gilroy Semibold";
  font-size: 26px;
  line-height: 1.1;
  color: #FFFFFF;
  margin-bottom: 50px;
  text-align: center;
}

.feedback__item {
  background: -webkit-gradient(linear, left top, left bottom, from(#B6FBFF), to(#83A4D4));
  background: -o-linear-gradient(top, #B6FBFF 0%, #83A4D4 100%);
  background: linear-gradient(180deg, #B6FBFF 0%, #83A4D4 100%);
  border-radius: 5px;
  margin: 0 10px;

  padding: 40px 30px 25px;
  /* width: 250px !important; */

  /* Изменения от Алексея */
  /* max-width: 560px; */
}

.feedback__name {
  display: block;
  font-family: "Gilroy Bold";
  font-size: 26px;
  line-height: 1.5;
  font-weight: 700;
  color: #364578;
  margin-bottom: 8px;

}

.feedback__text {
  display: block;
  font-family: "Gilroy Regular";
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #364578;

}

.slider-overlay {
  position: relative;
}

/* Изменения от Алексея
  .feedback__arrows {
  position: relative;
  top: -200px;
}

.right-arrow {
  position: absolute;
  right: 7px;
}

.left-arrow {
  position: absolute;
  left: 7px;
}
 */

.right-arrow {
  position: absolute;
  top: 140px;
  right: 7px;
}

.left-arrow {
  position: absolute;
  top: 140px;
  left: 7px;
}

.questions {
  padding-top: 70px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.questions__title {
  display: block;
  font-family: "Gilroy Semibold";
  font-size: 26px;
  line-height: 1.1;
  text-align: center;
  max-width: 320px;
  margin-bottom: 33px;
}

.questions__subtitle {
  display: block;
  font-family: "Gilroy Regular";
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  max-width: 280px;
  margin-bottom: 36px;
}

.questions__item {
  position: relative;
  padding-top: 19px;
  border-top: 1px solid #C0FBFF;
  border-bottom: 1px solid #C0FBFF;
}

.questions__item .item-title.item-text-active {

  font-size: 22px;

}

.questions__item .item-title {
  display: block;
  font-family: "Gilroy Semibold";
  font-size: 26px;
  line-height: 1.5;
  color: #FFFFFF;
  max-width: 85%;
}

.questions__item p {
  display: block;
  font-family: "Gilroy Regular";
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 25px;
  display: none;
}

.questions__item .item-text-active {
  display: block;
}

.questions__item .item-text .item-btn-group a {
  text-decoration: none;
}

.questions__toggle {
  position: absolute;
  top: 25px;
  right: 2px;
  width: 30px;
  height: 30px;
}

.questions__toggle-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.questions__toggle-hor {
  position: absolute;
  top: 15px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.questions__toggle-ver {
  position: absolute;
  left: 15px;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.questions__afterlist {
  display: block;
  font-family: "Gilroy Bold";
  font-size: 18px;
  line-height: 1.5;
  margin-top: 38px;
}

.author {
  color: #FFFFFF;
  padding-top: 79px;
}

.author__ring {
  display: none;
}

.author__title {
  display: block;
  font-family: "Gilroy Semibold";
  font-size: 26px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 33px;
}

.author__info {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.author__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.author__image img {
  border-radius: 5px;
}

.author__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.author__name {
  display: block;
  font-family: "Gilroy Bold";
  font-size: 22px;
  line-height: 1.5;
}

.author__description {
  display: block;
  font-family: "Gilroy Regular";
  font-size: 18px;
  line-height: 1.5;
}

.author__description a {
  text-decoration: underline;

}

.callback {
  color: #FFFFFF;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
}

.callback__title {
  display: block;
  font-family: "Gilroy Semibold";
  font-size: 26px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 18px;
}

.callback__subtitle {
  display: block;
  font-family: "Gilroy Regular";
  font-size: 18px;
  line-height: 1.3;
  margin: 0 auto 30px;
  text-align: center;
  max-width: 580px;
}

.callback__input {
  width: 100%;
  height: 45px;
  border: 1px solid #B4F7FD;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  margin-bottom: 30px;
  color: #FFF;
  padding-left: 20px;

  font-family: "Gilroy Regular";
  font-weight: 400;

  font-size: 18px;
  line-height: 1.3;

}

.callback__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.callback__info form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.callback__info form textarea {
  width: 100%;
  height: 110px;
  border: 1px solid #B4F7FD;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  margin-bottom: 30px;
  padding-top: 11px;
  padding-left: 20px;
  font-family: "Gilroy Regular";
  font-weight: 400;

  font-size: 18px;
  line-height: 1.3;
  color: #FFF;
}

.callback__contacts {

  margin-bottom: 85px;
  font-family: "Gilroy Regular";
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.phones__tel-bel {
  margin-left: 95px;
}

.mail {
  margin-bottom: 25px;
}

.adress {
  margin-bottom: 25px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 42px;
  margin-top: 32px;
}

.footer__logo img {
  width: 48px;
  height: 48px;
  margin-right: 5px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}

.footer__menu a {
  text-decoration: none;
  color: #D9E6CA;
  font-family: "Gilroy Medium";
  font-size: 16px;
  line-height: 1.1;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #D9E6CA;
  font-family: "Gilroy Medium";
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 35px;
}

.footer__social .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 35px;
}

.footer__social .links a {
  margin-right: 20px;
}

.footer__documents {
  margin-top: 25px;
}

.footer__documents a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #D9E6CA;
  font-family: "Gilroy Medium";
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 25px;
}

.footer__rights {
  color: #D9E6CA;
  font-family: "Gilroy Medium";
  font-size: 12px;
  line-height: 1.1;
  min-width: 120px;
  margin: 35px 0;
}

.footer .logo-text {
  display: block;
  color: #D9E6CA;
  font-family: "Gilroy Medium";
  font-size: 14px;
  line-height: 1.1;
  max-width: 195px;
}

#footer {
  background-color: #485B97;
}

.slick-slide {
  opacity: 0;
  width: 50%;
}

.slick-active {
  opacity: 1;
}

.slick-dots {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
}

.slick-dots button {
  font-size: 0;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #B4F7FD;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 7px;
  outline: none;
}

.slick-dots li[class=slick-active] button {
  background: #B4F7FD;
}

@media (min-width: 600px) {
  .about__upper-text {
    max-width: 550px;
  }

  .about__description {
    max-width: 550px;
  }

  .callback__contacts {

    align-items: center;
  }

  .tax-info {
    text-align: center;
  }
}

@media (min-width: 960px) {

  .container {
    padding: 10px 40px;
  }

  .header {}

  .header__logo {
    margin-left: 6px;
  }

  .header__logo img {
    height: 65px;
    width: 65px;
  }

  .logo-text {
    font-size: 12px;
    max-width: 165px;
  }

  .hands {
    position: absolute;
    width: 350px;
    height: 400px;
  }

  .hands::after {
    left: 0;
    height: 485px;
    width: 260px;
  }

  .hands__image {
    max-width: 350px;
    max-height: 400px;
    left: -33px;
    top: 90px;
  }

  .hero {
    margin-top: 10px;
    margin-left: 315px;
  }

  .hero__ring {
    position: absolute;
    z-index: -1;
    top: -45px;
    right: -40px;
    height: 482px;
    max-width: 200px;
  }

  .hero__line {
    position: absolute;
    top: 115px;
    left: -160px;
    display: block;
  }

  .hero__title {
    font-size: 30px;

    max-width: 550px;
    margin-left: 0;
  }


  .hero__subtitle {

    font-size: 18px;

    line-height: 27px;

    margin-bottom: 10px;
    margin-top: 25px;

  }

  .hero__list {
    margin-bottom: 25px;
    max-width: 450px;
  }

  .hero__item {

    font-size: 18px;

  }

  .hero__btn-group {
    flex-direction: row;
    max-width: 100%;
    gap: 40px;
  }

  .hero__btn-link {
    gap: 10px;
  }

  .hero__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Gilroy Regular";
    font-size: 18px;
    color: #A0FEB5;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
  }


  .about__upper-text {
    margin-bottom: 20px;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
  }

  .about__ring {
    position: absolute;
    z-index: -1;
    max-width: 244px;
    height: 114px;
    right: 0;
    bottom: 0;
  }

  .about__subtitle {

    max-width: 50%;
  }

  .about__wrapper {

    flex-direction: row;
  }



  .about__image-upper {
    max-width: 100%;

    height: 212px;
  }

  .about__image-upper img,
  .about__image-upper source {
    width: 370px;
    height: 210px;

    right: -40px;
    bottom: 32%;

  }


  .about__description {

    order: -1;
  }

  .about__image-lower {
    position: relative;
    margin-top: 35px;
    margin-bottom: 71px;
    height: 95px;
  }

  .about__lower {

    max-width: 327px;

    bottom: -30px;
    left: -40px;
    padding-left: 40px;
  }

  .about__lower-text {
    font-family: "Gilroy Medium";
    font-size: 18px;
    line-height: 1.5;
    color: #364578;
    max-width: 250px;
  }

  .how-it-work__title {

    font-size: 36px;
  }

  .how-it-work__subtitle {
    max-width: 100%;
  }


  .how-it-work__item {
    gap: 60px;
  }

  .item__box-img {
    margin-bottom: 0;
    max-width: 330px;
  }



  .item-btn-group {
    max-width: 100%;
    flex-direction: row;
  }

  .buyers__title {
    font-size: 36px;
  }

  .buyers__text {

    max-width: 370px;

  }

  .advantages__title {
    font-size: 36px;
    max-width: 100%;
  }

  .feedback__title {
    font-size: 36px;
  }

  .questions__title {
    font-size: 36px;
    max-width: 100%;
  }

  .questions__subtitle {
    max-width: 100%;
  }

  .questions__afterlist {
    font-size: 22px;
  }

  .author__title {
    font-size: 36px;
  }

  .callback__title {
    font-size: 36px;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 42px;
    margin-top: 32px;
  }

  .footer__logo img {
    width: 48px;
    height: 48px;
    margin-right: 5px;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }

  .footer__menu a {
    text-decoration: none;
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 16px;
    line-height: 1.1;
  }

  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    margin-top: 35px;
  }

  .footer__social .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 35px;
  }

  .footer__social .links a {
    margin-right: 20px;
  }

  .footer__documents {
    margin-top: 25px;
  }

  .footer__documents a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 12px;
    line-height: 1.1;
    margin-bottom: 25px;
  }

  .footer__rights {
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 12px;
    line-height: 1.1;
    min-width: 120px;
    margin: 35px 0;
  }

  .footer .logo-text {
    display: block;
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 14px;
    line-height: 1.1;
    max-width: 195px;
  }


}

@media (min-width: 1194px) {



  .header__logo {
    margin-left: 6px;
  }

  .header__logo img {
    height: 80px;
    width: 80px;
  }

  .hands {

    position: absolute;
    width: 500px;
    height: 550px;
  }

  .hands::after {
    left: 0;
    height: 652px;
    width: 324px;
  }

  .hands__image {
    max-width: 436px;
    max-height: 538px;
    left: -40px;
    top: 144px;
  }

  .hero {

    margin-top: 77px;
    margin-left: 397px;
  }

  .hero__ring {
    position: absolute;
    z-index: -1;
    top: -75px;
    right: -40px;
    height: 534px;
    max-width: 321px;
  }

  .hero__line {
    position: absolute;
    top: 146px;
    left: -168px;
    display: block;
  }

  .hero__title {

    font-size: 40px;

    max-width: 685px;
    margin-left: 0;
  }


  .hero__subtitle {

    font-size: 18px;

    line-height: 27px;

    margin-bottom: 10px;
    margin-top: 35px;
  }

  .hero__list {
    margin-bottom: 45px;
    max-width: 590px;
  }

  .hero__item {
    font-family: "Gilroy Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
  }

  .hero__btn-group {
    flex-direction: row;
    max-width: 100%;
    gap: 65px;
  }

  .hero__btn-link {
    gap: 14px;
  }


  .hero__more-arrow {
    background-image: url(../img/RightArrow.svg);
    height: 43px;
    width: 43px;

  }

  .btn-modal {
    max-width: 360px;
    padding: 0 44px;
  }



  .header__cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__cart .counter {
    height: 28px;
    width: 28px;
    background-color: #E01C86;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 50%;
  }

  .header__burger {
    position: relative;
    width: 50px;
    height: 30px;
    display: block;
  }

  .header__burger span {
    top: 11px;
  }

  .header__burger:after,
  .header__burger:before {
    content: "";
  }

  .header__burger:after {
    bottom: 2px;
  }

  .header__burger:before {
    top: 2px;
  }

  .header__burger span,
  .header__burger:after,
  .header__burger:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #A0FEB5;
    margin: 0 auto;
  }

  .header__menu,
  .header .burger__nav {
    display: none;
  }

  .logo-text {

    font-size: 14px;
    max-width: 170px;
  }

  .right-toolbar {

    gap: 15px;
    margin-top: -20px;
  }



  .about {
    padding: 245px 0 88px;
  }

  .about__ring {

    bottom: 0px;
    left: 0px;
    height: 255px;
    max-width: 700px;
  }

  .about__upper-text {

    gap: 37px;

    margin-bottom: 62px;
    justify-content: flex-start;
  }

  .about__title {
    display: inline-block;

    font-size: 40px;

    max-width: 600px;

    margin-bottom: 0;
  }

  .about__subtitle {
    display: inline-block;


    max-width: 500px;
  }

  .about__wrapper {

    flex-direction: row;
  }

  .about__image-upper {

    height: 350px;
  }

  .about__image-upper img,
  .about__image-upper source {
    width: 575px;
    height: 335px;
    bottom: 20%;
  }

  .about__description {

    max-width: 52%;
  }

  .about__image-lower {
    position: relative;
    margin-top: 35px;
    margin-bottom: 71px;
    height: 95px;
  }

  .about__image-lower img,
  .about__image-lower source {
    position: relative;
    top: 0;
    left: -46px;
    width: 566px;
    height: 348px;

  }


  .about__lower-text {
    font-family: "Gilroy Medium";
    font-size: 18px;
    line-height: 1.5;
    color: #364578;
    max-width: 250px;
  }



  .about__ring {
    position: absolute;
    z-index: -1;
    max-width: 244px;
    height: 114px;
    right: 0;
    bottom: 0;
  }






  .about__image-lower {
    position: relative;
    margin-top: 35px;
    margin-bottom: 71px;
    height: 95px;
  }

  .about__lower {


    max-width: 297px;

    bottom: 85px;

  }

  .about__lower-text {
    font-family: "Gilroy Medium";
    font-size: 18px;
    line-height: 1.5;
    color: #364578;
    max-width: 250px;
  }

  .how-it-work {
    padding-top: 148px;
    padding-bottom: 80px;
  }

  .how-it-work__title {
    display: block;
    text-align: center;
    font-family: "Gilroy Semibold";
    font-size: 40px;
    line-height: 1.1;
    color: #364578;
    margin-bottom: 24px;
  }

  .how-it-work__subtitle {
    display: block;
    text-align: center;
    font-family: "Gilroy Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #364578;
    margin-bottom: 85px;
  }

  .how-it-work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 75px;
    gap: 63px;
  }

  .how-it-work__item img {
    border-radius: 5px;
    opacity: 100%;
  }

  .buyers {
    padding-top: 115px;
  }

  .buyers__title {
    font-size: 40px;
    margin-bottom: 75px;
  }

  .buyers__info {
    justify-content: flex-start;
  }

  .buyers__box-img {
    max-width: 513px;
    max-height: 513px;
  }

  .buyers__list ul {
    gap: 26px;
  }

  .buyers__text {
    margin-left: 106px;

    max-width: 460px;

  }


  .advantages {

    padding-top: 150px;

  }

  .advantages__title {

    font-size: 40px;
    margin-bottom: 70px;
  }

  .advantages__list {
    gap: 22px;
    margin-bottom: 80px;
  }

  .feedback__title {
    font-size: 40px;
  }

  .questions__title {
    font-size: 40px;
  }

  .questions__afterlist {
    font-size: 26px;
  }

  .author__title {
    font-size: 40px;
  }

  .author__image {
    height: 340px;
    min-width: 260px;
  }

  .author__info {
    flex-direction: row;
  }

  .author__text {
    gap: 5px;
  }

  .callback__title {
    font-size: 40px;
  }

  .callback__contacts {
    margin-bottom: 130px;

  }

  .footer {
    padding-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 22px;
  }

  .footer__logo {
    gap: 16px;
    margin: 0;
    margin-right: 340px;
  }

  .footer__logo img {
    width: 50px;
    height: 50px;
    margin-right: 0;
  }

  .footer .logo-text {
    display: block;
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 12px;
    line-height: 1.1;
    max-width: 165px;
  }


  .footer__menu {

    gap: 11px;
    margin-right: 110px;
  }

  .footer__menu a {

    font-size: 12px;

  }

  .footer__social {

    font-size: 12px;

    margin: 0;
    margin-right: 58px;
  }


  .footer__social .links {

    margin-top: 10px;

  }

  .footer__social .links a {
    margin-right: 20px;
  }

  .footer__documents {
    margin-top: 0;
  }

  .footer__documents a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 12px;
    line-height: 1.1;
    margin-bottom: 10px;
  }

  .footer__rights {
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 12px;
    line-height: 1.1;
    min-width: 120px;
    margin: 35px 0;
    margin: 0;
    margin-top: 20px;
  }

}


@media (min-width: 1350px) {

  .hands {
    width: 562px;
    height: 683px;
  }

  .hands::after {
    left: -42px;
    height: 683px;
    width: 345px;
    top: 0;
  }

  .hands__image {
    max-width: 533px;
    max-height: 558px;
    left: -92px;
    top: 124px;
  }


  .container {
    padding: 0 100px;
  }

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__burger {
    display: none;
  }

  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    gap: 3px;
  }

  .header__logo img {
    height: 80px;
    width: 80px;
  }

  .header__menu {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__menu li {
    font-family: "Gilroy Medium";
    font-size: 14px;
    line-height: 1.5;
    margin-right: 45px;
  }

  .header__menu a {
    text-decoration: none;
    color: #fff;
  }

  .header__menu li:first-child a {
    color: #A0FEB5;
  }

  .header__cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
  }

  .header__cart .counter {
    height: 28px;
    width: 28px;
    background-color: #E01C86;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 50%;
  }

  .burger__nav {
    display: none;
  }

  .logo-text {
    color: #5D7647;
    font-family: "Gilroy Medium";
    font-size: 14px;
  }

  .hero {
    color: #FFFFFF;
    margin-top: 75px;
    margin-left: 400px;
    position: relative;
  }

  .hero__ring {
    position: absolute;
    top: 0px;
    right: -100px;
    max-width: 438px;
    height: 564px;
  }

  .hero__line {
    left: -165px;
  }

  .hero__title {
    display: block;
    font-family: "Gilroy Medium";
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
  }

  .hero__list {
    margin-bottom: 40px;
    max-width: 650px;
  }


  .hero__subtitle {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 35px;
    display: block;
    font-family: "Gilroy Regular";
    font-size: 18px;
    font-weight: 400;
  }


  .hero__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Gilroy Regular";
    font-size: 18px;
    color: #A0FEB5;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
  }

  .hero__btn-group {
    flex-direction: row;
    max-width: 100%;
    gap: 65px;
  }

  .hero__btn-link {
    gap: 14px;
  }

  .hero__more-arrow {
    background-image: url(../img/RightArrow.svg);
    height: 43px;
    width: 43px;
  }

  .about {
    padding: 290px 0 66px;
  }

  .about__ring {

    bottom: 0px;
    left: 0px;
    height: 255px;
    max-width: 700px;
  }

  .about__upper-text {
    gap: 52px;
    margin-bottom: 66px;
    justify-content: flex-start;
  }


  .about__title {
    display: inline-block;

    font-size: 40px;

    max-width: 600px;

    margin-bottom: 0;
  }

  .about__subtitle {
    display: inline-block;


    max-width: 500px;
  }

  .about__wrapper {

    flex-direction: row;
  }

  .about__image-upper {

    height: 350px;
  }

  .about__image-upper img,
  .about__image-upper source {
    width: 600px;
    height: 348px;
    bottom: 18%;
    right: -100px;

  }

  .about__description {

    max-width: 49%;
  }

  .about__image-lower {
    position: relative;
    margin-top: 35px;
    margin-bottom: 71px;
    height: 95px;
  }

  .about__image-lower img,
  .about__image-lower source {
    position: relative;
    top: 0;
    left: -46px;
    width: 566px;
    height: 348px;

  }


  .about__lower-text {
    font-family: "Gilroy Medium";
    font-size: 18px;
    line-height: 1.5;
    color: #364578;
    max-width: 250px;
  }



  .about__ring {
    position: absolute;
    z-index: -1;
    max-width: 700px;
    height: 255px;
    right: 0;
    left: -55px;
    bottom: 0px;
  }

  .about__image-lower {
    position: relative;
    margin-top: 35px;
    margin-bottom: 71px;
    height: 95px;
  }

  .about__lower {
    max-width: 363px;
    bottom: 85px;
    left: -100px;
    padding-left: 100px;

  }

  .about__lower-text {
    font-family: "Gilroy Medium";
    font-size: 18px;
    line-height: 1.5;
    color: #364578;
    max-width: 250px;
  }

  .how-it-work {
    padding-top: 140px;
    padding-bottom: 150px;

  }

  .how-it-work__title {
    display: block;
    text-align: center;
    font-family: "Gilroy Semibold";
    font-size: 40px;
    line-height: 1.1;
    color: #364578;
    margin-bottom: 20px;
  }

  .how-it-work__subtitle {
    margin-bottom: 70px;
  }

  .how-it-work__list {

    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    column-gap: 50px;

  }

  .how-it-work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 0;
    gap: 36px;
    align-items: flex-start;

  }

  .item__box-img {
    margin-bottom: 0;
    max-width: 160px;
  }

  .how-it-work__item img {
    width: 160px;
    height: 250px;
    border-radius: 5px;
    opacity: 100%;
    margin-bottom: 0;
  }

  .item-title {
    display: block;
    font-family: "Gilroy Bold";
    font-size: 26px;
    line-height: 1.5;
    font-weight: 700;
    color: #364578;
    margin-bottom: 5px;
  }

  .item-info p {
    margin-bottom: 0;
    max-width: 320px;
  }

  .item-description {
    display: block;
    font-family: "Gilroy Regular";
    font-size: 18px;
    line-height: 1.5;
    color: #364578;
  }

  .item-price {
    display: block;
    font-family: "Gilroy Bold";
    font-size: 26px;
    line-height: 1.5;
    color: #E01C86;
    margin-bottom: 12px;
    margin-top: 6px;
  }

  .item-btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    gap: 10px;
  }

  .item-btn-group .hero__btn-link {
    align-self: center;
  }

  .item-btn-group a {
    text-decoration: none;
  }

  .buyers {
    color: #FFFFFF;
    padding-top: 130px;
    position: relative;
  }

  .buyers__ring {
    position: absolute;
    z-index: -1;
    width: 700px;
    top: -80px;
    right: -70px;
  }

  .buyers__title {
    display: block;
    text-align: center;
    font-family: "Gilroy Semibold";
    font-size: 40px;
    margin-bottom: 70px;
  }

  .buyers__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .buyers__image {
    width: 700px;
    height: 268px;
    right: -50px;
    top: 0;
  }

  .buyers__list ul {
    gap: 15px;
  }

  .buyers__text {
    display: block;
    font-family: "Gilroy Medium";
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin-left: 95px;
  }

  .buyers__line img {
    width: 100%;
  }

  .advantages {
    color: #FFFFFF;
    padding-top: 145px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .advantages__title {
    display: block;
    margin-bottom: 72px;
    font-family: "Gilroy Semibold";
    font-size: 40px;
  }

  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .advantages__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 80px;
    margin-right: 0;
    width: 260px;
    height: 260px;
    font-family: "Gilroy Medium";
    font-size: 18px;
    line-height: 1.3;

  }

  .advantages__item img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .advantages__text {
    display: block;
  }

  .feedback {
    padding-top: 110px;
  }

  .feedback__title {
    display: block;
    font-family: "Gilroy Semibold";
    font-size: 40px;
    line-height: 1.1;
    color: #FFFFFF;
    margin-bottom: 74px;
    text-align: center;
  }

  .feedback__item {
    background: -webkit-gradient(linear, left top, left bottom, from(#B6FBFF), to(#83A4D4));
    background: -o-linear-gradient(top, #B6FBFF 0%, #83A4D4 100%);
    background: linear-gradient(180deg, #B6FBFF 0%, #83A4D4 100%);
    border-radius: 5px;
    margin: 0 10px;
    padding-left: 31px;
    padding-right: 27px;
  }

  .feedback__name {
    display: block;
    font-family: "Gilroy Bold";
    font-size: 26px;
    line-height: 1.5;
    color: #364578;
    margin-top: 41px;
    margin-bottom: 8px;
  }

  .feedback__text {
    display: block;
    font-family: "Gilroy Regular";
    font-size: 18px;
    line-height: 1.5;
    color: #364578;
    margin-bottom: 60px;
  }

  .slider-overlay {
    position: relative;
  }

  .right-arrow {
    position: absolute;
    top: 150px;
    right: 390px;
  }

  .left-arrow {
    position: absolute;
    top: 150px;
    left: 390px;
  }

  .questions {
    padding-top: 130px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .questions__title {
    display: block;
    font-family: "Gilroy Semibold";
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 25px;
  }

  .questions__subtitle {
    display: block;
    font-family: "Gilroy Regular";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 74px;
  }

  .questions__list {
    width: 100%;
  }

  .questions__item {
    position: relative;
    padding-top: 19px;
    border-top: 1px solid #C0FBFF;
    border-bottom: 1px solid #C0FBFF;
  }

  .questions__item .item-title {
    display: block;
    font-family: "Gilroy Regular";
    font-size: 26px;
    line-height: 1.5;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 100%;
  }

  .questions__item .item-text {
    display: block;
    font-family: "Gilroy Bold";
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    display: none;
  }

  .questions__item .item-text-active {
    display: block;
  }

  .questions__item p {
    max-width: 1100px;
  }

  .questions h3 {
    margin-bottom: 15px;
  }

  .questions__toggle {
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
  }

  .questions__toggle-active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }

  .questions__toggle-hor {
    position: absolute;
    top: 15px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }

  .questions__toggle-ver {
    position: absolute;
    left: 15px;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #fff;
  }

  .questions__afterlist {
    display: block;
    font-family: "Gilroy Regular";
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
  }

  .author {
    color: #FFFFFF;
    padding-top: 125px;
    position: relative;
  }

  .author__ring {
    position: absolute;
    z-index: -1;
    width: 291px;
    height: 685px;
    right: -100px;
    top: 390px;
  }

  .author__title {
    display: block;
    font-family: "Gilroy Semibold";
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 60px;
  }

  .author__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 45px;
  }

  .author__name {
    display: block;
    font-family: "Gilroy Regular";
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
  }



  .callback {
    color: #FFFFFF;
    padding: 120px 0 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .callback__title {
    display: block;
    font-family: "Gilroy Semibold";
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 23px;
  }

  .callback__subtitle {
    display: block;
    font-family: "Gilroy Regular";
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 77px;
    text-align: center;
    max-width: 560px;
  }

  .callback__input {
    width: 100%;
    height: 45px;
    border: 1px solid #B4F7FD;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: #FFF;
    line-height: 1.1;
  }

  .callback__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .callback__info form {
    max-width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .callback__info form textarea {
    width: 100%;
    height: 110px;
    border: 1px solid #B4F7FD;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    margin-bottom: 30px;
    padding-left: 20px;
    line-height: 1.1;
    color: #FFF;
  }

  .callback__contacts {
    margin-top: 0px;
    text-align: left;
    font-family: "Gilroy Regular";
    font-size: 18px;
    line-height: 1.5;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 375px;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 100px;
  }

  .footer__menu a {
    text-decoration: none;
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 12px;
    line-height: 1.1;
    margin-bottom: 5px;
  }

  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 12px;
    line-height: 1.1;
    margin-right: 75px;
  }

  .footer__social .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px;
  }

  .footer__documents a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 12px;
    line-height: 1.1;
    margin-bottom: 5px;
  }

  .footer__rights {
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 12px;
    line-height: 1.1;
    min-width: 120px;
  }

  .footer .logo-text {
    display: block;
    color: #D9E6CA;
    font-family: "Gilroy Medium";
    font-size: 12px;
    line-height: 1.1;
  }

  #footer {
    background-color: #485B97;
  }

  .slick-slide {
    opacity: 0.6;
  }

  .slick-active {
    opacity: 1;
  }

  .slick-dots {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
  }

  .slick-dots button {
    font-size: 0;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #B4F7FD;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 7px;
    outline: none;
  }

  .slick-dots li[class=slick-active] button {
    background: #B4F7FD;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  select,
  textarea,
  input {
    font-size: 1.2rem;
  }
}